<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Time Line</title>

    <link href="/Src/css/time.css" rel="stylesheet" />
    <script src="/Src/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Src/js/jquery-ui.min.js"></script>
</head>
<body>
    <div id="zt" style="margin-left: 100px; margin-top: 150px;">
        <div class="content">
            <div class="timeLineYears">
                <div class="tlSpace">
                    <div class="tlScroll"></div>
                    <div class="tlYearAfter"></div>
                    <div class="tlYear">1960</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">1965</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">1970</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">1975</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">1980</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">1985</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">1990</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">1995</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">2000</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">2005</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">2010</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">&nbsp;</div>
                    <div class="tlYear">2014</div>
                    <div class="tlYearBefore"></div>
                </div>
            </div>


            <div class="timeLineContents">
                <div class="tlSpace">
                    <div class="tlYearAfter"></div>
                    <div class="tlItem">1960</div>
                    <div class="tlItem">1</div>
                    <div class="tlItem">2</div>
                    <div class="tlItem">3</div>
                    <div class="tlItem">4</div>
                    <div class="tlItem">1965</div>
                    <div class="tlItem">6</div>
                    <div class="tlItem">7</div>
                    <div class="tlItem">8</div>
                    <div class="tlItem">9</div>
                    <div class="tlItem">1970</div>
                    <div class="tlItem">1</div>
                    <div class="tlItem">2</div>
                    <div class="tlItem">3</div>
                    <div class="tlItem">4</div>
                    <div class="tlItem">1975</div>
                    <div class="tlItem">6</div>
                    <div class="tlItem">7</div>
                    <div class="tlItem">8</div>
                    <div class="tlItem">9</div>
                    <div class="tlItem">1980</div>
                    <div class="tlItem">1</div>
                    <div class="tlItem">2</div>
                    <div class="tlItem">3</div>
                    <div class="tlItem">4</div>
                    <div class="tlItem">1985</div>
                    <div class="tlItem">6</div>
                    <div class="tlItem">7</div>
                    <div class="tlItem">8</div>
                    <div class="tlItem">9</div>
                    <div class="tlItem">1990</div>
                    <div class="tlItem">1</div>
                    <div class="tlItem">2</div>
                    <div class="tlItem">3</div>
                    <div class="tlItem">4</div>
                    <div class="tlItem">1995</div>
                    <div class="tlItem">6</div>
                    <div class="tlItem">7</div>
                    <div class="tlItem">8</div>
                    <div class="tlItem">9</div>
                    <div class="tlItem">2000</div>
                    <div class="tlItem">1</div>
                    <div class="tlItem">2</div>
                    <div class="tlItem">3</div>
                    <div class="tlItem">4</div>
                    <div class="tlItem">2005</div>
                    <div class="tlItem">6</div>
                    <div class="tlItem">7</div>
                    <div class="tlItem">8</div>
                    <div class="tlItem">9</div>
                    <div class="tlItem">2010</div>
                    <div class="tlItem">1</div>
                    <div class="tlItem">2</div>
                    <div class="tlItem">3</div>
                    <div class="tlItem">2014</div>
                    <div class="tlYearBefore"></div>
                </div>
            </div>
        </div>


    </div>

    <script>
        $(document).ready(function () {
            var dragOncekiLeft = 0;
            var dragSimdikiLeft = 0;
            var dragSimdikiLeft1 = 0;

            $(".tlScroll").draggable({
                axis: "x",
                containment: ".timeLineYears",
                scroll: false,
                grid: [55, 55],
                scope: 'tlYear',
                drag: function () {
                    dragSimdikiLeft = Number($(this).position().left);
                    if ($(".content .timeLineYears .tlSpace").position().left > -30) {
                        $(".content .timeLineYears .tlSpace").css({ 'left': '-30px' });
                    } else {
                        if (dragSimdikiLeft < dragOncekiLeft) {
                            $(".content .timeLineYears .tlSpace").css({ 'left': '+=2px' });
                        } else if ((($(".content .timeLineYears .tlSpace").outerWidth())) < ($(".tlScroll").position().left + $(".tlScroll").outerWidth())) {
                            timeItem($(".tlYear").eq(itemSay - 1));
                        }
                    }                    
                    dragOncekiLeft = dragSimdikiLeft;
                }
            });

            $(".tlYear").droppable({
                accept: ".tlScroll",
                greedy: false,
                tolerance: "intersect",
                scope: 'tlYear',
                drop: function (event, ui) { timeItem(this); }
            });

            $(".content .timeLineYears .tlSpace .tlYear").click(function () { timeItem(this); });

            var yearGenislik = 430;
            var itemSay = 0;
            $(".tlYear").each(function () {
                itemSay += 1;
                yearGenislik += (Number($(this).outerWidth()));
            });
            var yearGenislik1 = 0;
            var itemSay1 = 0;
            $(".tlItem").each(function () {
                itemSay1 += 1;
                yearGenislik1 += (Number($(this).outerWidth()) + 23);
            });
            console.log(itemSay);
            console.log(itemSay1);
            $(".tlSpace").innerWidth(yearGenislik);
            $(".content .timeLineContents .tlSpace").innerWidth(yearGenislik1);

            function timeItem(item) {
                var dragLeft = 0;
                var s0 = Number($(".tlScroll").position().left);
                var p0 = Number($(item).position().left);
                var p1 = Number($(item).parent().position().left);
                var p2 = Number($(item).parent().parent().position().left);
                var w0 = Number($(item).outerWidth());
                var w1 = Number($(item).parent().outerWidth());
                var w2 = Number($(item).parent().parent().outerWidth());
                var pw0 = p0 + (w0 / 2);
                var cp0 = Number($(".tlItem").eq($(item).index() - 2).position().left);
                var cp1 = Number($(".tlItem").eq($(item).index() - 2).parent().position().left);
                var cp2 = Number($(".tlItem").eq($(item).index() - 2).parent().parent().position().left);
                var cw0 = Number($(".tlItem").eq($(item).index() - 2).outerWidth());
                var cw1 = Number($(".tlItem").eq($(item).index() - 2).parent().outerWidth());
                var cw2 = Number($(".tlItem").eq($(item).index() - 2).parent().parent().outerWidth());
                var cpw0 = cp0 + (cw0 / 2);
                if (pw0 <= (w2 / 2)) {
                    dragSimdikiLeft = -30;
                    $(".content .timeLineYears .tlSpace").animate({ 'left': '' + dragSimdikiLeft + 'px' }, 1000);
                } else if (pw0 > (w2 / 2) && pw0 < (w1 - (w2 / 2))) {
                    dragSimdikiLeft = (pw0 - ((w2 / 2)));
                    $(".content .timeLineYears .tlSpace").animate({ 'left': '-' + dragSimdikiLeft + 'px' }, 1000);
                } else if (pw0 > (w1 - (w2 / 2))) {
                    dragSimdikiLeft = ((w1 - (w2)) - w0);
                    $(".content .timeLineYears .tlSpace").animate({ 'left': '-' + dragSimdikiLeft + 'px' }, 1000);
                }
                if (pw0 <= (cw2 / 2)) {
                    if (($(item).index() - 2) == 0) {
                        dragSimdikiLeft1 = -100;
                    } else {
                        dragSimdikiLeft1 = -((cw0 * ($(item).index() - 2)) - (cw0 / 2));
                    }
                    $(".content .timeLineContents .tlSpace").animate({ 'left': '' + dragSimdikiLeft1 + 'px' }, 1000);
                } else if (pw0 > (w2 / 2) && pw0 < (w1 - (w2 / 2))) {
                    dragSimdikiLeft1 = (cpw0 - (((cw2 / 2))));
                    $(".content .timeLineContents .tlSpace").animate({ 'left': '-' + (dragSimdikiLeft1) + 'px' }, 1000);

                } else if (pw0 > (w1 - (w2 / 2))) {
                    if (($(item).index() - 2) == (itemSay1 - 1)) {
                        dragSimdikiLeft1 = ((cw1 - (cw2 + 25)));
                    } else {
                        dragSimdikiLeft1 = ((cw2 / 2) + ((cw0 * ($(item).index() - 2)) - (cw0 / 2))) + 50;
                    }
                    $(".content .timeLineContents .tlSpace").animate({ 'left': '-' + dragSimdikiLeft1 + 'px' }, 1000);
                }               
                
                dragLeft = p0;
                $(".tlScroll").animate({ 'left': '' + (dragLeft - 51) + 'px' }, 1000);
                dragOncekiLeft = dragSimdikiLeft;
            }
        });
    </script>
</body>
</html>
